.titleTheme{
  text-align: center;
  margin-top: 150px;
}

.cardTheme{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.card{
  width: 12vw;
  min-width: 120px;
  height: 30vh;
  border-radius: 10px; 
  display: flex;
  align-items: center; 
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
  padding: 20px;
  margin: 10px;
  margin-bottom: 50px;
  background-position: center;
  background-repeat: no-repeat;
}


.card button{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-top: 0px solid #333;
  border-right: 0px solid #333;
  padding: 4px 8px;
  background-color: red;
}
.card h3{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
}


.card:hover{
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 768px) {
  .cardTheme {
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    
  }

  .buttonCreate {
    width: 50px;
    height: 50px;
    font-size: 24px;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #02c021;
    color: white;
    border: none;
  }

  .buttonCreate::before {
    content: "+";
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .card {
    width: 90%;
    height: 25vh;
    min-width: unset;
    margin-bottom: 20px;
  }

  .card h3 {
    font-size: 20px;
  }
}