.titleTheme{
    text-align: center;
  }
  
.cardTheme{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.card{
    font-weight: bold;
    width: 150px;
    height: 200px; 
    border-radius: 10px; 
    display: flex;
    align-items: center; 
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer
  }
  
  
  
  .card:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  