body{
  overflow-x: hidden;
  font-family: 'Poppins' sans-serif;
  background-color: #121212;
  color: white;
}

main{
  margin-top: 150px;
}


      /*NAVBAR*/
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #00adb5;
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    transition: height 0.3s ease-in-out;
  }

  .nav-links.open {
    height: 250px;
    padding-top: 10px;
  }

  .nav-links li {
    padding: 10px 0;
  }

  .bar.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .bar.open:nth-child(2) {
    opacity: 0;
  }

  .bar.open:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}


      /*NOTIFICATION*/
@media (max-width: 768px) {
  .notification-card {
    flex-direction: row;
    padding: 10px;
  }

  .icon {
    font-size: 20px;
  }

  .notification-content h3 {
    font-size: 14px;
  }

  .notification-content p {
    font-size: 12px;
  }

  .notification-content .time {
    font-size: 10px;
  }
}


      /*MODAL*/
@media (max-width: 768px) {
  .modal {
    width: 80vw;
    height: auto;
    max-height: 80vh;
  }
}



      /*CALENDRIER*/
@media (max-width: 768px) {
  .calendar-card {
    flex-direction: row;
    padding: 10px;
  }

  .icon {
    font-size: 20px;
  }

  .calendar-content h3 {
    font-size: 14px;
  }

  .calendar-content p {
    font-size: 12px;
  }

  .calendar-content .level {
    font-size: 10px;
  }
}
