body{
  overflow-x: hidden;
  font-family: 'Poppins' sans-serif;
  background-color: #121212;
}

/* DASHBOARD */

main{
  display: flex;
  justify-content: space-between;
}

/* Style de la barre de navigation */
nav {
  background-color: #00adb5;
  padding: 10px;
  color: #e0e0e0;
  display: flex;
  justify-content: space-between;

}


nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-right: 38%;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.catGeneral{
  flex: 1;
}

.catGeneral h2{
  color: #e0e0e0;
}

.cat{ 
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.buttonCreate{
  margin-top: 20px;
}

.Stats{
  margin-right: -30px;
  width: 300px;
  padding: 10px;
  background-color: #1e1e1e;
  color: #e0e0e0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.Stats p {
  color: #b0b0b0;
}


.CarteCat{
  margin-bottom: 50px;
  display: flex;
  width: 12vw;
  background-color: #333;
  height: 30vh;
  background-size: cover; /* Fait en sorte que l'image couvre toute la div */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition */
  border-radius: 10px; /* Optionnel : coins arrondis */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

.CarteCat:hover{
  scale: 1.1;
}

.titrebouton{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 10px;
}
/* Style de la page d'accueil */
main {
  padding: 20px;
}

button {
  background-color: #00adb5;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* src/components/Footer.css */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-content p:first-child {
  font-weight: bold;
}

/* Ajouter un style pour le lien si tu souhaites des liens dans le footer */
.footer-content a {
  color: #4CAF50;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.modal{
  border-radius: 10px;
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 19vh;
  margin-left: 30vw;
  width: 30vw;
  height: 40vh;
  background-color: aliceblue;
}

.modal div{
  margin-bottom: 20px;
  align-items: center;
  display: flex;
}